:root {
  --primary-color: #333;
  --secondary-color: #474747;
}

body {
  background-color: var(--secondary-color);
  color: #fff;
}

a {
  color: #00ffc3;
}

.App_Nav ul {
  display: flex;
}

.App_Nav ul li:nth-child(n + 2) {
  margin-left: 16px;
}

.App_Nav a {
  display: block;
  padding: 0 8px;
  color: white;
  text-decoration: none;
}

.App_Nav a:hover {
  background-color: #524d53;
}

.App_Header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background: var(--primary-color);
  font-size: 32px;
}

.Offline,
.Error {
  color: #d25454;
}

.FormError {
  box-shadow: 1px 1px 1px 1px #d25454 !important;
}

.Online {
  color: #adff2f;
}

.Italic {
  font-style: italic;
}

.PostListItem {
  margin-bottom: 8px;
  padding: 8px;
  box-shadow: 1px 1px 1px 1px #6e886d;
}

.PostListItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
